<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>4183660269-44ho0ibfj1qcfdie1rut95o93rslcj1s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.4183660269-44ho0ibfj1qcfdie1rut95o93rslcj1s</string>
	<key>API_KEY</key>
	<string>AIzaSyDhw5wHfviqqJap6ZaZK-gf6hdAPmgLCTU</string>
	<key>GCM_SENDER_ID</key>
	<string>4183660269</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ai-love-deepLearning.AnImediate</string>
	<key>PROJECT_ID</key>
	<string>animediate-fun</string>
	<key>STORAGE_BUCKET</key>
	<string>animediate-fun.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:4183660269:ios:4f89ab479320d255</string>
	<key>DATABASE_URL</key>
	<string>https://animediate-fun.firebaseio.com</string>
</dict>
</plist>